$container-gutter: 60px;

// breakpoints
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;


//Colors
$c-big-stone: #17253F;
$c-candlelight: #ffd517;
$c-white: #FFFFFF;
$c-catskill-white: #eaeef4;
$c-medium-red-violet: #c9398d;
$c-mine-shaft: #333333;
