.nosun-table {

	thead {

		tr {
			background-color: #FFF;
			border-bottom: 1px solid $c-big-stone;

			td {
				padding: 8px 10px;
				font-weight: bold;
			}
		}
	}

	tbody {
		tr:nth-child(even) {
			background-color: #fff;
		}

		tr:nth-child(odd) {
			background-color: #eaeef4;
		}

		tr {

			td {
				border-right: 1px solid #FFF;
				padding: 8px 10px;
				color: #333333;
			}
		}
	}
}