.page-wrapper {

  .button-wrapper {
    text-align: center;
  }

  .gallery {

    .gallery-item {
      display: inline-block;
    }
  }
}

.single-destination-wrapper {
  .button-wrapper {
    text-align: center;
  }
}

.page-template-template-groepsreizen {

  .trip-blocks {
    padding-top: 0;
  }

  section {
  }

  .content-row {
    padding-bottom: 50px;
  }
}